div{
    width: 200px;
    height: 200px;
    background-color: aqua;
    border:4px solid black;
/* rotate: */
    transform:rotate(45deg) ;
    transform: rotateY(170deg);
    /* scale */
    transform:scale(3);
    /* translate */
    transform:translateY(80px);
    /* skew */
    transform:skew(20deg);
}